body{
    font: 12px Arial;
    margin: 0px;
    padding: 0px;
}

li{    
    list-style: none;
    display:inline;    
    padding-left: 8px;   
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #545454;
}

a:hover{
    text-decoration: underline;
}

#header{    
    float:right; 
    font: 12px bold arial;
    font-family: arial;    
}

#menu img{
    vertical-align: middle;
    display: inline-block;    
    opacity: 0.5;
}

#searchBox{
    margin-left: 500px;
}

input[type=text]{
    margin-bottom: 15px;
    position: relative;    
    right: 90px;
    bottom: 100px;   
    vertical-align: middle;
    width: 560px;
    height: 20px;   
}

#vsearchImg{
    width: 17px;
    height: 17px; 
    position: absolute;
    top: 307px;
    right: 395px;    
}

#btn1, #btn2{
    margin-bottom: 90px;
    margin-right: 10px;
    position: relative;
    left: 100px;
    bottom: 100px;   
    padding: 5px;
    font-family: arial;
    font-weight: bold;
    background-color: #eee;
    border-radius: 2px;
    border: 2px solid #ddd;
    text-align: center;
    color: #444;
    font-size: 11px;    
}

#footer{
    height: 3.3em;
    margin-top: 5.5em; 
    
    background-color: #eee;
    border-top: 1px solid #ddd;    
}

#footerLeft{
    float:left;
}

#footerRight{    
   float: right; 
   margin-right: 20px;  
}